<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Safe Ride Scheduling</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">
    <center><img class="banner-img" src="http://pages.uoregon.edu/saferide/images/saferide_banner.png"></center>
</div>
<center><h2>Your request has been received!</h2><center>
<center><p>We will contact you if there is an issue with your reservation.</p></center>
</body>