<!DOCTYPE html>
<html>
  <head>
    <title>Safe Ride Scheduling Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Safe Ride Scheduling Requests</h2>
      <div class="row">
        <div style="float: left; width: 50%;">
            <br>
            <h3>Reservation Requests</h3>
            <table>
            <thead><tr><th>Name</th><th>Description</th></tr></thead>
            <tbody>
            <tr><td>Name1</td><td>Description1</td></tr>
            <tr><td>Name2</td><td>Description2</td></tr>
            <tr><td>Name3</td><td>Description3</td></tr>
            </tbody>
            </table>
        </div>
        <div style="float: left; width: 50%;">
            <br>
            <h3>Scheduled Reservations</h3>
            <table>
            <thead><tr><th>Name</th><th>Description</th></tr></thead>
            <tbody>
            <tr><td>Name1</td><td>Description1</td></tr>
            <tr><td>Name2</td><td>Description2</td></tr>
            <tr><td>Name3</td><td>Description3</td></tr>
            </tbody>
            </table>
        </div>
      </div>
      <br>
    </div>
  </body>
</html>

