<!DOCTYPE html>
<html>
  <head>
    <title>Safe Ride Scheduling Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Safe Ride Scheduling Requests</h2>
        <div style="row">
            <br>
            <h3>Reservation Requests</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>ID#</th>
                    <th>Phone#</th>
                    <th>Start Address</th>
                    <th>Destination</th>
                    <th>Passengers</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Name1</td>
                    <td>951555555</td>
                    <td>555-555-5555</td>
                    <td>1234 E 11 Ave</td>
                    <td>3333 E 15 Ave</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Name2</td>
                    <td>951555555</td>
                    <td>555-555-5555</td>
                    <td>1234 E 11 Ave</td>
                    <td>3333 E 15 Ave</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Name3</td>
                    <td>951555555</td>
                    <td>555-555-5555</td>
                    <td>1234 E 11 Ave</td>
                    <td>3333 E 15 Ave</td>
                    <td>2</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div style="row">
            <br>
            <h3>Scheduled Reservations</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>ID#</th>
                    <th>Phone#</th>
                    <th>Start Address</th>
                    <th>Destination</th>
                    <th>Passengers</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Name1</td>
                    <td>951555555</td>
                    <td>555-555-5555</td>
                    <td>1234 E 11 Ave</td>
                    <td>3333 E 15 Ave</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Name2</td>
                    <td>951555555</td>
                    <td>555-555-5555</td>
                    <td>1234 E 11 Ave</td>
                    <td>3333 E 15 Ave</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Name3</td>
                    <td>951555555</td>
                    <td>555-555-5555</td>
                    <td>1234 E 11 Ave</td>
                    <td>3333 E 15 Ave</td>
                    <td>2</td>
                </tr>
              </tbody>
            </table>
        </div>
      <br>
    </div>
  </body>
</html>

